/* Feuille de styles CSS */
table, th{
    border: 3px solid black;
    border-collapse: collapse;
    text-align: center;

}
td, tr{
    border: 1px solid black;
}
h1, h2, h3, p{
    
}

a{
    color: #007bff;
    text-decoration: none;
}

h1{
    
}

.blueitalic{
    color: rgb(13, 107, 228);
    font-style: italic;
}

body{
    background-color: #eeeeee;
}

.container{
    width: 600px;
    margin: auto;
    padding: 32px;
    background-color: white;
}
